.sidenav a,
.dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    font-weight: normal;
}

#tituloBTN {
    width: 87.5%;
    font-size: 15px;
    text-align: none;
    margin-left: 15px;
}


/* On mouse-over */

.sidenav a:hover,
.dropdown-btn:hover {
    color: #f1f1f1;
}

.active {
    background-color: white;
}


/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */

.dropdown-container {
    display: none;
    background-color: #e0e0e0;
    padding-left: 8px;
    border: 1px solid #cec8c8;
    border-right: none;
    border-top: none;
}

#bloco {
    font-size: 12px;
    border: none;
    background-color: white;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}


/* Optional: Style the caret down icon */

.fa-caret-down {
    float: right;
    padding-right: 8px;
}


/* Some media queries for responsiveness */

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}